@import url('https://fonts.cdnfonts.com/css/twentytwelve-slab');
body {background-image: url(inicio3.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.conteudo {
    text-align: center; 
    padding: 100px;
    color: white;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  .menu-lateral img {
  width: 70px; 
  height: auto; 
  margin: auto;
  width: 80px;
  top: 0;
  left: 0;
  }
  
  .menu-logo {
  width: 80px; 
  height: auto; 
  margin: auto;
  margin-top: 43px;
  width: 80px;
  }
  
  .site {
  position: relative;
  }
  
  .menu-lateral {
    margin-top: -4%;
    padding-bottom: 4%;
    padding-top: 6%;
   
    width: 16%;
    display: hidden;
    max-width: 271px;
    background-color: hwb(0 24% 75% / 0.567);
    position: absolute;
    height: 100%;
    overflow: auto;
    color: rgba(0, 0, 0, 0.699);
  }
  
  .menu-lateral-filho {
    position: fixed;
    width: 16%;
    max-width: 271px;
    top: 40px;
  }
  
  .menu li {
  padding: 10px;
  border-bottom: 1px solid #555; /* Adiciona a linha separadora entre os itens */
  }
  
  .menu-item {
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
  }
  
  .menu-item:hover {
    background-color: #55555560;
  }
  
  
  
  .conteudo {
    margin-left: 250px;
    padding: 20px;}





#logo {
    margin-top: 1%;
    cursor: pointer;
}

.centered-image {
    margin:  auto; /* Define as margens esquerda e direita como 'auto' para centralizar horizontalmente */
    display: block; /* Isso faz com que a imagem seja exibida como bloco, o que ajuda na centralização */
    margin-top: -60px;
}
.qq {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #00000080;
    background-size: 40vh;
   
}


#foto1 {
    max-width: 50%;
    color: #ffffff;
    height: auto;
    margin-top: 2%;
    margin-left: 17%;
    
}

#texto1 {
    flex: 1;
    margin-left: 3%;
    font-size: 20px;
    font-family: 'Twentytwelve Slab', sans-serif;
    margin-bottom: 1%;
    color: #ffffff;                   
}

.oo {
    display: flex;
    flex-direction: row; /* Altera a ordem dos elementos - a imagem agora fica à direita */
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: right;
    background-color: #0000007c;
}
#foto2 {
    max-width: 50%;
    height: auto;
    margin-right: 3%;
}

#texto2 {
    flex: 1;
    margin-right: 5%; /* Altera a margem para o lado direito */
    font-size: 20px; /* Tamanho da letra aumentado para 24 pixels (você pode ajustar o valor conforme necessário) */
    font-family: 'Twentytwelve Slab', sans-serif;
    color: #ffffff;   
}
.overlay-image {
    position: absolute;
   margin-left: 10px;
}
#clip{
    position: absolute;
    margin-bottom: 17%;
    margin-left: 16%;
}
#pino{
    position: absolute;
    margin-left: 86%;
    margin-bottom: 21%;
}
#clipe_complexo{
    position: absolute;
    margin-left: 8%;
    margin-bottom: 21%;
}
#clip1{
    position: absolute;
    margin-left: 92%;
    margin-bottom: 19%;
}
#pino1{
    position: absolute;
    margin-left: 11%;
    margin-bottom: 19%;
}