@import url('https://fonts.cdnfonts.com/css/twentytwelve-slab');
body {background-image: url("Fotos/fundo.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}









#logo {
    margin-top: 1%;
}

.centered-image {
    margin:  auto; /* Define as margens esquerda e direita como 'auto' para centralizar horizontalmente */
    display: block; /* Isso faz com que a imagem seja exibida como bloco, o que ajuda na centralização */
    margin-top: -60px;
}
.qq {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    
}


#foto1 {
    max-width: 50%;
    height: auto;
    margin-top: 2%;
    margin-left: 3%;
}

#texto1 {
    flex: 1;
    margin-left: 5%;
    font-size: 26px;
    font-family: 'Twentytwelve Slab', sans-serif;
    margin-bottom: 1%;
                                                
}

.oo {
    display: flex;
    flex-direction: row; /* Altera a ordem dos elementos - a imagem agora fica à direita */
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: right;
}
#foto2 {
    max-width: 50%;
    height: auto;
    margin-right: 3%;
}

#texto2 {
    flex: 1;
    margin-right: 5%; /* Altera a margem para o lado direito */
    font-size: 26px; /* Tamanho da letra aumentado para 24 pixels (você pode ajustar o valor conforme necessário) */
    font-family: 'Twentytwelve Slab', sans-serif;
}
.overlay-image {
    position: absolute;
   margin-left: 10px;
}
#clip{
    position: absolute;
    margin-bottom: 17%;
    margin-left: 16%;
}
#pino{
    position: absolute;
    margin-left: 86%;
    margin-bottom: 21%;
}
#clipe_complexo{
    position: absolute;
    margin-left: 8%;
    margin-bottom: 21%;
}
#clip1{
    position: absolute;
    margin-left: 92%;
    margin-bottom: 19%;
}
#pino1{
    position: absolute;
    margin-left: 11%;
    margin-bottom: 19%;
}