@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Sarala&family=Telex&display=swap');
* {

padding: 0;
box-sizing: border-box;
text-decoration: none;
}
body {
    font-size: 100%;
    background-image: radial-gradient(circle at 23.82% 4.65%, #fffac0 0, #fbe7a8 16.67%,
     #ebd08c 33.33%, #d8b46c 50%, #c5994d 66.67%, #b68234 83.33%, #ab6f21 100%);
    background-image: url(./inicio3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 10vw;
    
}
    
.Logo {
    cursor: pointer;
    
       
}
.cabecalho {
justify-content: end;
left: 2%;
top: 3%;


}
.singin {
    position: absolute;
    top: 3%;
    right: 3%;
    border: none;
    width: 90px;
    min-width: 60px;
    height: 40px;
    border-radius: 6px;
    font-size: 21px;
    cursor: pointer;
    font-family: 'Sarala', sans-serif;
    background-color: #ffffff ;
    color: #000000;
 
}
    
.singin:hover {background-color: #6d6d6d}  

.conteudo {
    
border-top: 0,4px solid #fa3d3d;
justify-content: center;
display: flex;
box-sizing: border-box;
align-items: center;

}


section {
    display: flex;
    flex-direction: row;
    justify-content:end;
    box-sizing: border-box;
    align-items: center;

}

#titulo {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 120px;
    color: #101b31;}

    #arte {

        flex-direction: row;
    }

@media(max-width: 768px) {
    .conteudoprincipal {
        flex-direction:column;
        align-items:center;
        }
        
#titulo {

    flex-wrap: wrap;
    font-size: 80px;
}
#arte {

    flex-direction: column;
    display: flex;
}

    }



.subtitulo {
    font-family: 'Sarala', sans-serif;
    font-size: 17px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    
    
    
    
    
    }

.acessar {
   font-family: 'Sarala' , sans-serif;
   margin: auto;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   color: rgb(0, 0, 0);
   font-size: 20px;
   background-color: #ffffff;
   border: 0.1px solid #000000 ;
   box-sizing: border-box;
   text-decoration: none;
   padding: 14px;
   width: 180px;
   border-radius: 12px;
   box-shadow: 0 2px #000000;
   
   }

.acessar:hover {background-color: #585858;}

.acessar:active {
background-color: #5e5e5e;
transform: translateY(2px);
}



    