@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Cuprum&family=Playfair+Display&display=swap');

.conteudo {
  text-align: center; 
  padding: 100px;
  color: white;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.menu-lateral img {
width: 70px; 
height: auto; 
margin: auto;
width: 80px;
top: 0;
left: 0;
}

.menu-logo {
width: 80px; 
height: auto; 
margin: auto;
margin-top: 43px;
width: 80px;
}

.site {
position: relative;
}

.menu-lateral {
  margin-top: -4%;
  padding-bottom: 4%;
  padding-top: 6%;
 
  width: 16%;
  display: hidden;
  max-width: 271px;
  background-color: hwb(0 24% 75% / 0.336);
  position: absolute;
  height: 100%;
  overflow: auto;
  color: rgba(0, 0, 0, 0.699);
}

.menu-lateral-filho {
  position: fixed;
  width: 16%;
  max-width: 271px;
  top: 40px;
}

.menu li {
padding: 10px;
border-bottom: 1px solid #555; /* Adiciona a linha separadora entre os itens */
}

.menu-item {
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  color: rgba(255, 255, 255, 0.637);
}

.menu-item:hover {
  background-color: #55555560;
}



.conteudo {
  margin-left: 250px;
  padding: 20px;
}
body {
  background-color:#ffffff;
  margin: 0;
  padding: 0;
  height: 100px;
  background-image:url(inicio3.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  
  
  
  
  
}






.divBusca{
  background-color:#ffffff;
  display: flex;
  justify-content: center;
  border:solid 1px;
  border-radius:15px;
  width:660px;
  margin: auto; 
  
  
}

@media(max-width: 768px){
.topo {
padding-right: 30px;
box-sizing: border-box;

}
.divBusca {
  justify-content: center;
  
  margin: 0px;
  margin-left: auto;
  display: flex;
  
  width: 240px;
  

}




}


#txtBusca{
  float:left;
  background-color:transparent;
  
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:40px;
  width:655px;
  border-radius:15px;
  

}



.topo {
  
    width: 100%;
    align-items: center;
    height: 58px;
    background: #3a3a3a;
    display: flex; 
    position: fixed;
    top: 0;
    z-index: 20;
    
}

@media(max-width: 1000px){

.topo {
position: fixed;
align-items: center;
z-index: 20;

}

.menu-lateral {
  position: fixed;
  display: flex;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
  max-width: none;
  flex-direction: row;
  background: #3a3a3a88;
  width: 100%;
  height: 30px;
  top: 58px;
  z-index: 20;
  padding-bottom: 20px;
}

.menu-lateral-filho {
  position: relative;
  max-width: none;
  padding: 0px 20px;
  flex: 1;
  display: flex;
  gap: 0px;
  flex-wrap: wrap;
  align-items: center;
  top: 0px;
}

.menu-logo {
  margin: 0;
  display: flex;
  align-items: center;
  max-height: 40px;
}

.menu-logo > img {
  width: 40px;
  max-height: 40px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  max-height: 20px;
}

.quadrado {
  margin-top: 200px !important;
}


}

@media(max-width: 325px){
  .menu-lateral {
    height: 160px;
  }
}

    

.quadrado {
    width: 40%;
    position: relative;
   
    height: 600px;
    background: #ffffff;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5%;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 20px;
    padding-left: 24px;
    padding-top: 2%;
    font-family: 'Cuprum', sans-serif;
    box-shadow: 1px 3px 9px 0.1px black;
    border-bottom: solid 92px #ffffff;
    }

img {

position: relative;
left: 46%;
top: 30px;
height: 420px;
border-radius: 12px;


  }
  .poema {
    color: #0f0f0f;
position: relative;
font-size: 20px;
left: 10px;
bottom: 410px;
text-align: left;
margin-right: 60%;
}






.christian {
  position: relative;
  width: 640px;
  height: 600px;
  background: #ffffff;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 3%;
  box-sizing: border-box;
  border-radius: 12px;
  font-size: 20px;
  padding-left: 24px;
  padding-top: 2%;
  font-family: 'Cuprum', sans-serif;
  box-shadow: 1px 3px 9px 0.1px black;
  border-bottom: solid 92px #ffffff;
  
  
  
    
  }

.chrisimg {

position: relative;
left: 1%;
top: 1px;
height: 420px;
border-radius: 12px;


}
#christitulo {

font-family: cursive;
color: #000000;


}

.chrispoema {
position: relative;
font-size: 20px;
left: 10px;
bottom: 410px;
text-align: left;
margin-right: 60%;

}








.nykolas {
  position: relative;
  
  max-width: 700%;
  width: 700px;
  height: 104vh;
  background: #ffffff;
  
  margin-left: auto; 
  margin-right: auto;
  margin-top: 3%;
  
  border-radius: 12px;
  font-size: 20px;
  padding-left: 24px;
  padding-top: 2%;
  font-family: 'Cuprum', sans-serif;
  box-shadow: 1px 3px 9px 0.1px black;
  border-bottom: solid 92px #ffffff;
  
    
  }

.nkimg {

position: relative;
right: 1vh;
bottom: 3wv;
width: 680px;
border-radius: 12px;
}




.nkpoema {
  position: absolute;
  max-width: 300px;
  font-size: 19px;
  left: 19px;
  top: 5vh;
  text-align: left;
  margin-right: 470px;


}

.nykolass {
  position: relative;
  
  max-width: 700px;
  width: 700px;
  height: 86vh;
  background: #ffffff;
  
  margin-left: auto; 
  margin-right: auto;
  margin-top: 3%;
  
  border-radius: 12px;
  font-size: 20px;
  padding-left: 24px;
  padding-top: 2%;
  font-family: 'Cuprum', sans-serif;
  box-shadow: 1px 3px 9px 0.1px black;
  border-bottom: solid 92px #ffffff;
  
    
  }

.nksimg {

position: relative;
right: 1vh;
bottom: 3wv;
width: 680px;
border-radius: 12px;
}




.nkspoema {
position: absolute;
max-width: 300px;
font-size: 19px;
left: 19px;
top: 5vh;
text-align: left;
margin-right: 470px;


}


.nykolasss {
  position: relative;
  
  max-width: 700px;
  width: 700px;
  height: 96vh;
  background: #ffffff;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 3%;
  border-radius: 12px;
  font-size: 20px;
  padding-left: 24px;
  padding-top: 2%;
  font-family: 'Cuprum', sans-serif;
  box-shadow: 1px 3px 9px 0.1px black;
  border-bottom: solid 92px #ffffff;
  
    
  }

.nkssimg {

position: relative;
right: 1vh;
bottom: 3wv;
width: 680px;
border-radius: 12px;
}




.nksspoema {
position: absolute;
max-width: 300px;
font-size: 19px;
left: 19px;
top: 5vh;
text-align: left;
margin-right: 470px;


}

.samu {
  position: relative;
  max-width: 700px;
  width: 700px;
  height: 107vh;
  background: #ffffff;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 3%;
  border-radius: 12px;
  font-size: 20px;
  padding-left: 24px;
  padding-top: 2%;
  font-family: 'Cuprum', sans-serif;
  box-shadow: 1px 3px 9px 0.1px black;
  border-bottom: solid 92px #ffffff;
  
    
  }

.smimg {

position: relative;
right: 1vh;
bottom: 3wv;
width: 680px;
border-radius: 12px;
}

.smpoema {
  position: absolute;
  max-width: 300px;
  font-size: 19px;
  left: 19px;
  top: 5vh;
  text-align: left;
  margin-right: 470px;


}
.samus {
  position: relative;
  max-width: 700px;
  width: 700px;
  height: 96vh;
  background: #ffffff;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 3%;
  border-radius: 12px;
  font-size: 20px;
  padding-left: 24px;
  padding-top: 2%;
  font-family: 'Cuprum', sans-serif;
  box-shadow: 1px 3px 9px 0.1px black;
  border-bottom: solid 92px #ffffff;
  
    
  }

.smsimg {

position: relative;
right: 1vh;
bottom: 3wv;
width: 680px;
border-radius: 12px;
}




.smspoema {
  position: absolute;
  max-width: 300px;
  font-size: 19px;
  left: 19px;
  top: 5vh;
  text-align: left;
  margin-right: 470px;


}

.samuss {
  position: relative;
  
  max-width: 700px;
  width: 700px;
  height: 125vh;
  background: #ffffff;
  
  margin-left: auto; 
  margin-right: auto;
  margin-top: 3%;
  
  border-radius: 12px;
  font-size: 20px;
  padding-left: 24px;
  padding-top: 2%;
  font-family: 'Cuprum', sans-serif;
  box-shadow: 1px 3px 9px 0.1px black;
  border-bottom: solid 92px #ffffff;
  
    
  }

.smssimg {

position: relative;
right: 1vh;
bottom: 3wv;
width: 680px;
border-radius: 12px;
}




.smsspoema {
  position: absolute;
  max-width: 300px;
  font-size: 19px;
  left: 19px;
  top: 5vh;
  text-align: left;
  margin-right: 470px;


}
.Btn {
  width: 140px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
  cursor: pointer;
  background-color: transparent;
  margin-top: 230px;
}

.leftContainer {
  width: 60%;
  height: 100%;
  background-color: #0060ff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.leftContainer .like {
  color: white;
  font-weight: 600;
}

.likeCount {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0060ff;
  font-weight: 600;
  position: relative;
  background-color: white;
}

.likeCount::before {
  height: 8px;
  width: 8px;
  position: absolute;
  content: "";
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
  left: -4px;
}

.Btn:hover .leftContainer {
  background-color: #1d4292;
}

.Btn:active .leftContainer {
  background-color: #072b7a;
}

.Btn:active .leftContainer svg {
  transform: scale(1.15);
  transform-origin: top;
}
